:root{
  --color-text: #000;
  --color-placeholder: rgba(0, 0, 0, 0.06);
  --color-additional: #1677ff;
  --color-additional7: #e6f4ff;
  --background-color-calendar: #fff;
  --background-color-calendar-header: rgba(0, 0, 0, 0.06);
}

.calendar {
  width: auto;
  height: auto;
  border-radius: 5px;
  text-transform: capitalize;
  background-color: var(--background-color-calendar);
  .calendar__body {
    border-radius: 0 0 5px 5px;
    padding: 5px;
  }
}
