.calendar__week__names {
    height: 40px;
    font-weight: 600;
    font-size: 16px;
    color: var(--color-additional);
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px 1px;
}

.calendar__days {
    font-size: 16px;
    font-weight: 400;
    color: var(--color-text);
    text-align: center;
    display: grid;
    text-align: center;
    align-items: center;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    gap: 1px 1px;
    .calendar__day {
        border-radius: 5px;
        padding: 5.5px 0px;
        cursor: pointer;
        height: 50px;
    }
    .calendar__day:hover {
        background-color: var(--color-additional7);
    }
    .calendar__additional__day {
        padding: 5.5px;
        font-weight: 300;
        cursor: pointer;
        color: var(--color-placeholder);
    }
    .calendar__today__item {
        background-color: var(--background-color-calendar-header);
      }
      
    .calendar__selected__item {
        color: var(--color-text);
        background-color: var(--color-additional);
    }
    .calendar__selected__item:hover {
        background-color: var(--color-additional);
    }
}
